<div class="container_big-card">
    <div class="big-card_photo">
        <img 
          src="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg" 
          alt="" 
          srcset=""
          height="200px"
          >
    </div>
    
    <div class="big-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card_description">
        <p>
            <a href="#">

            </a>
        </p>
    </div>
</div>
